-
  var mainMenu = [
    {
      "id": "0",
      "name": "Home",
      "url": "#home"
    },
    {
      "id": "10",
      "name": "About",
      "url": "#about",
    },
    {
      "id": "20",
      "name": "Tours",
      "url": "#tours"
    },
    {
      "id": "30",
      "name": "Blog",
      "url": "#blog"
    },
    {
      "id": "40",
      "name": "Contact",
      "url": "#contact"
    },
  ];
