// В этом файле должны быть стили для БЭМ-блока plain-text, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.plain-text {

  $block-name:                &; // #{$block-name}__element

  font-size: 14px;
  font-weight: 400;
  color: #a7b0b4;

  @media (min-width: $screen-md) {
    font-size: 16px;
  }
}
