//- Все примеси в этом файле должны начинаться c имени блока (plain-text)

mixin plain-text(data, mods)

  //- Принимает:
  //-   data    {object} - данные
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +plain-text('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' plain-text--' + modsList[i].trim();
      }
    }

  p.plain-text(class=allMods)&attributes(attributes)
    block
