//- Все примеси в этом файле должны начинаться c имени блока (footer-nav)

mixin footer-nav(data, mods)

  //- Принимает:
  //-   data    {object} - данные
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +footer-nav('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' footer-nav--' + modsList[i].trim();
      }
    }

  nav.footer-nav(class=allMods)&attributes(attributes)
    ul.footer-nav__inner
      block
