-
  let currentUrl = ''
  let currentTitle = 'Knife Travel'
  let currentDescription = ' '
  let lang = 'eng'
  let Bootstrap4 = false
  let jQuery = true
  let GoogleFonts = 'Roboto'
  let fontWeight = '300;400;500;700'
  let screenSm = '0'
  let screenMd = '768px'
  let screenLg = '992px'
