extends ../pug/layout.pug

append config
  -
    currentDescription = 'Knife Travel web page'
    currentUrl = 'index.html'

block header
  +page-header()
    +top-nav()
      +site-links('', 'languages')
        a.site-links__link.site-links__link--active(href='#') English
        a.site-links__link(href='#') French
        a.site-links__link(href='#') Espanol
      +site-links('', 'popular-destinations')
        span.site-links__link Popular Destination
        a.site-links__link(href='#') Kuala Lumpur
        a.site-links__link(href='#') New York
        a.site-links__link(href='#') Dubai
        a.site-links__link(href='#') Paris
        a.site-links__link(href='#') Bangkok
    +logo('/')
      b Knifé
      |  Travel
    ///.logo

    +main-nav('0')

    a.page-header__contact-link(href='tel:+011234567999') 011 234 567 999

block content

  +hero()

  +form('book')
    +field-text({
      mods: 'place',
      attrs: {
        placeholder: 'Where are you going?',
        name: 'place'
      }
    })

    +field-text({
      mods: 'date',
      attrs: {
        placeholder: 'Thu, Jun 15',
        name: 'date',
        type: 'date'
      }
    })

    +field-text({
      mods: 'people',
      attrs: {
        placeholder: '2 Adults — 0 Children',
        name: 'people',
      }
    })

    +btn('submit', 'submit')(type='submit')
  ///.form--book

  +upcoming-tours()

  +all-tours()
    +title({
      bold: 'Discover Around',
      light: 'The World'
    })

    .all-tours__grid
      .all-tours__item
        +picture({
          'img': 'all-tours-00',
          'alt': 'Ancient Roman Road & Aqueducts by bike',
          'lg': true,
          'md': true,
          'ext': 'jpg'
        })
        span.all-tours__tag 15 Tours
        p.all-tours__title Ancient Roman Road & Aqueducts by bike
        a.all-tours__link Explore Now
      ///.all-tours__item

      .all-tours__item
        +picture({
          'img': 'all-tours-01',
          'alt': 'Whisky and beer at the local barber',
          'lg': true,
          'md': true,
          'ext': 'jpg'
        })
        span.all-tours__tag 12 Tours
        p.all-tours__title Whisky and beer at the local barber
        a.all-tours__link Explore Now
      ///.all-tours__item

      .all-tours__item
        +picture({
          'img': 'all-tours-02',
          'alt': 'Paris photo walk with Leo Iglesias',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        })
        span.all-tours__tag 21 Tours
        p.all-tours__title Paris photo walk with Leo Iglesias
        a.all-tours__link Explore Now
      ///.all-tours__item

      .all-tours__item
        +picture({
          'img': 'all-tours-03',
          'alt': 'Art Studio Spark your creativity',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        })
        span.all-tours__tag 16 Tours
        p.all-tours__title Art Studio Spark your creativity
        a.all-tours__link Explore Now
      ///.all-tours__item

      .all-tours__item
        +picture({
          'img': 'all-tours-04',
          'alt': 'Essence of Iceland own custom souvenir',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        })
        span.all-tours__tag 19 Tours
        p.all-tours__title Essence of Iceland own custom souvenir
        a.all-tours__link Explore Now
      ///.all-tours__item
    ///.all-tours__grid

  +best-offers()
    +title({
      bold: 'Best',
      light: 'Offers'
    })

    +btn('View All Offers')(href='#')

    .best-offers__item
      +picture({
        'img': 'best-offers-01',
        'alt': 'Paris, France',
        'lg': false,
        'md': false,
        'ext': 'jpg',
        'width': 170
      })
      p.best-offers__text
        b Paris, France
        | Panorama City
      p.best-offers__text
        b 7 Days
        | 6 Nights
      p.best-offers__text
        b 11 February
        | 06:30 PM
      p.best-offers__text
        b $ 1889
        | It was $ 2449
      p.best-offers__text
        b $ 560
        | Save 20%
    ///.best-offers__item

    .best-offers__item.best-offers__item--active
      +picture({
        'img': 'best-offers-02',
        'alt': 'Dublin, Ireland',
        'lg': false,
        'md': false,
        'ext': 'jpg',
        'width': 170
      })
      p.best-offers__text
        b Dublin, Ireland
        | Car Roadtrip
      p.best-offers__text
        b 4 Days
        | 5 Nights
      p.best-offers__text
        b 16 February
        | 09:00 AM
      p.best-offers__text
        b $ 1400
        | It was $ 1900
      p.best-offers__text
        b $ 500
        | Save 25%
    ///.best-offers__item

    .best-offers__item
      +picture({
        'img': 'best-offers-03',
        'alt': 'Berlin, Germany',
        'lg': false,
        'md': false,
        'ext': 'jpg',
        'width': 170
      })
      p.best-offers__text
        b Berlin, Germany
        | Museums & City
      p.best-offers__text
        b 9 Days
        | 10 Nights
      p.best-offers__text
        b 12 February
        | 09:00 AM
      p.best-offers__text
        b $ 1450
        | It was $ 1950
      p.best-offers__text
        b $ 550
        | Save 25%
    ///.best-offers__item
