extends ../pug/layout.pug

append config
  -
    currentDescription = 'Knife Travel web page'
    currentUrl = 'index.html'

block header
  +page-header()
    +top-nav()
      +site-links('', 'languages')
        a.site-links__link.site-links__link--active(href='#') English
        a.site-links__link(href='#') French
        a.site-links__link(href='#') Espanol
      +site-links('', 'popular-destinations')
        span.site-links__link Popular Destination
        a.site-links__link(href='#') Kuala Lumpur
        a.site-links__link(href='#') New York
        a.site-links__link(href='#') Dubai
        a.site-links__link(href='#') Paris
        a.site-links__link(href='#') Bangkok
    +logo('/')
      b Knifé
      |  Travel
    ///.logo

    +main-nav('0')

    a.page-header__contact-link(href='tel:+011234567999') 011 234 567 999

block content

  +hero()

  +form('book')
    +field-text({
      mods: 'place',
      attrs: {
        placeholder: 'Where are you going?',
        name: 'place'
      }
    })

    +field-text({
      mods: 'date',
      attrs: {
        placeholder: 'Thu, Jun 15',
        name: 'date',
        type: 'date'
      }
    })

    +field-text({
      mods: 'people',
      attrs: {
        placeholder: '2 Adults — 0 Children',
        name: 'people',
      }
    })

    +btn('submit', 'submit')(type='submit')
  ///.form--book
