extends ../pug/layout.pug

append config
  -
    currentDescription = 'Knife Travel web page'
    currentUrl = 'index.html'

block header
  +page-header()
    +top-nav()
      +site-links('', 'languages')
        a.site-links__link.site-links__link--active(href='#') English
        a.site-links__link(href='#') French
        a.site-links__link(href='#') Espanol
      +site-links('', 'popular-destinations')
        span.site-links__link Popular Destination
        a.site-links__link(href='#') Kuala Lumpur
        a.site-links__link(href='#') New York
        a.site-links__link(href='#') Dubai
        a.site-links__link(href='#') Paris
        a.site-links__link(href='#') Bangkok
    +logo('/')
      b Knifé
      |  Travel
    ///.logo

    +main-nav('0')

    a.page-header__contact-link(href='tel:+011234567999') 011 234 567 999

block content

  +hero()

  +form('book')
    +field-text({
      mods: 'place',
      attrs: {
        placeholder: 'Where are you going?',
        name: 'place'
      }
    })

    +field-text({
      mods: 'date',
      attrs: {
        placeholder: 'Thu, Jun 15',
        name: 'date',
        type: 'date'
      }
    })

    +field-text({
      mods: 'people',
      attrs: {
        placeholder: '2 Adults — 0 Children',
        name: 'people',
      }
    })

    +btn('submit', 'submit')(type='submit')
  ///.form--book

  +upcoming-tours()

  +all-tours()
    +title({
      bold: 'Discover Around',
      light: 'The World'
    })

    .all-tours__grid
      .all-tours__item
        +picture({
          'img': 'all-tours-00',
          'alt': 'Ancient Roman Road & Aqueducts by bike',
          'lg': true,
          'md': true,
          'ext': 'jpg'
        })
        span.all-tours__tag 15 Tours
        p.all-tours__title Ancient Roman Road & Aqueducts by bike
        a.all-tours__link Explore Now
      ///.all-tours__item

      .all-tours__item
        +picture({
          'img': 'all-tours-01',
          'alt': 'Whisky and beer at the local barber',
          'lg': true,
          'md': true,
          'ext': 'jpg'
        })
        span.all-tours__tag 12 Tours
        p.all-tours__title Whisky and beer at the local barber
        a.all-tours__link Explore Now
      ///.all-tours__item

      .all-tours__item
        +picture({
          'img': 'all-tours-02',
          'alt': 'Paris photo walk with Leo Iglesias',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        })
        span.all-tours__tag 21 Tours
        p.all-tours__title Paris photo walk with Leo Iglesias
        a.all-tours__link Explore Now
      ///.all-tours__item

      .all-tours__item
        +picture({
          'img': 'all-tours-03',
          'alt': 'Art Studio Spark your creativity',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        })
        span.all-tours__tag 16 Tours
        p.all-tours__title Art Studio Spark your creativity
        a.all-tours__link Explore Now
      ///.all-tours__item

      .all-tours__item
        +picture({
          'img': 'all-tours-04',
          'alt': 'Essence of Iceland own custom souvenir',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        })
        span.all-tours__tag 19 Tours
        p.all-tours__title Essence of Iceland own custom souvenir
        a.all-tours__link Explore Now
      ///.all-tours__item
    ///.all-tours__grid

  +best-offers()
    +title({
      bold: 'Best',
      light: 'Offers'
    })

    +btn('View All Offers')(href='#')

    .best-offers__item
      +picture({
        'img': 'best-offers-01',
        'alt': 'Paris, France',
        'lg': false,
        'md': false,
        'ext': 'jpg',
        'width': 170
      })
      p.best-offers__text
        b Paris, France
        | Panorama City
      p.best-offers__text
        b 7 Days
        | 6 Nights
      p.best-offers__text
        b 11 February
        | 06:30 PM
      p.best-offers__text
        b $ 1889
        | It was $ 2449
      p.best-offers__text
        b $ 560
        | Save 20%
    ///.best-offers__item

    .best-offers__item.best-offers__item--active
      +picture({
        'img': 'best-offers-02',
        'alt': 'Dublin, Ireland',
        'lg': false,
        'md': false,
        'ext': 'jpg',
        'width': 170
      })
      p.best-offers__text
        b Dublin, Ireland
        | Car Roadtrip
      p.best-offers__text
        b 4 Days
        | 5 Nights
      p.best-offers__text
        b 16 February
        | 09:00 AM
      p.best-offers__text
        b $ 1400
        | It was $ 1900
      p.best-offers__text
        b $ 500
        | Save 25%
    ///.best-offers__item

    .best-offers__item
      +picture({
        'img': 'best-offers-03',
        'alt': 'Berlin, Germany',
        'lg': false,
        'md': false,
        'ext': 'jpg',
        'width': 170
      })
      p.best-offers__text
        b Berlin, Germany
        | Museums & City
      p.best-offers__text
        b 9 Days
        | 10 Nights
      p.best-offers__text
        b 12 February
        | 09:00 AM
      p.best-offers__text
        b $ 1450
        | It was $ 1950
      p.best-offers__text
        b $ 550
        | Save 25%
    ///.best-offers__item

  +blog()
    +title({
      bold: 'Explore the Travel',
      light: 'Through our Blog & Journal',
    })

    article.blog__item
      +picture({
        'img': 'blog-01',
        'alt': 'Hiking Greenland’s Arctic Circle Trail 2019',
        'lg': false,
        'md': false,
        'ext': 'jpg'
      })
      h3.blog__title Hiking Greenland’s Arctic Circle Trail 2019
      p.blog__descr.
        Tourism is travel for pleasure or business; also the theory
        and practice of touring, the business of attracting, accommodating…
      a.blog__link Read More
    ///.blog__item

    article.blog__item
      +picture({
        'img': 'blog-02',
        'alt': 'Why You Shouldn’t  Ride Elephants in Indonesia',
        'lg': false,
        'md': false,
        'ext': 'jpg'
      })
      h3.blog__title Why You Shouldn’t  Ride Elephants in Indonesia
      p.blog__descr.
        Tourism is travel for pleasure or business; also the theory
        and practice of touring, the business of attracting, accommodating…
      a.blog__link Read More
    ///.blog__item

    article.blog__item
      +picture({
        'img': 'blog-03',
        'alt': 'Best Travel Quotes For Inspiration Travel Blog',
        'lg': false,
        'md': false,
        'ext': 'jpg'
      })
      h3.blog__title Best Travel Quotes For Inspiration Travel Blog
      p.blog__descr.
        Tourism is travel for pleasure or business; also the theory
        and practice of touring, the business of attracting, accommodating…
      a.blog__link Read More
    ///.blog__item

    +btn('Read our Blog')(href='#')

  +testimonials()
    +title({
      bold: 'Travel Tours',
      light: 'Testimonials'
    })

    +plain-text()
      | Tourism is travel for pleasure or business; also the theory and practice of
      | touring, the business of attracting, accommodating, and entertaining…

    +owl-carousel()
      blockquote.testimonials__slide-item
        i.testimonials__stars
        time.testimonials__time(datetime='2021-07-17') July 17th
        h3.testimonials__title Everything was amazing!
        p.testimonials__text.
          We enjoyed our Israel trip immensely. The hotels were wonderful…
          We really enjoyed Meir, our tour guide. He was so knowledgeable.
          His experience as a soldier and commander in the ‘67 war and the
          Yom Kippur War made us feel like we were seeing the country through
          the eyes of a person that was instrumental in its formation and growth. A true Sabra!
        cite.testimonials__author
          img.testimonials__img(alt='Maja Christiansen', width='50', src='img/testimonials-01.jpg')
          h4.testimonials__name Maja Christiansen
          p.testimonials__descr Paris, France Museum Tour
      ///.testimonials__slide-item

      blockquote.testimonials__slide-item
        i.testimonials__stars
        time.testimonials__time(datetime='2021-06-05') June 5th
        h3.testimonials__title Awesome Experience!
        p.testimonials__text.
          We enjoyed our Israel trip immensely. The hotels were wonderful…
          We really enjoyed Meir, our tour guide. He was so knowledgeable.
          His experience as a soldier and commander in the ‘67 war and the
          Yom Kippur War made us feel like we were seeing the country through
          the eyes of a person that was instrumental in its formation and growth. A true Sabra!
        cite.testimonials__author
          img.testimonials__img(alt='Sofie Olsen', width='50', src='img/testimonials-02.jpg')
          h4.testimonials__name Sofie Olsen
          p.testimonials__descr Paris, France Museum Tour
      ///.testimonials__slide-item

  +instagram()
    +title({
      bold: 'Get Inspired with',
      light: 'Photos from Instagram'
    })

    +picture({
      'img': 'instagram-01',
      'alt': 'instagram post',
      'lg': false,
      'md': false,
      'width': 234,
      'ext': 'jpg'
    })

    +picture({
      'img': 'instagram-02',
      'alt': 'instagram post',
      'lg': false,
      'md': false,
      'width': 234,
      'ext': 'jpg'
    })

    +picture({
      'img': 'instagram-03',
      'alt': 'instagram post',
      'lg': false,
      'md': false,
      'width': 234,
      'ext': 'jpg'
    })

    +picture({
      'img': 'instagram-04',
      'alt': 'instagram post',
      'lg': false,
      'md': false,
      'width': 234,
      'ext': 'jpg'
    })

    +picture({
      'img': 'instagram-05',
      'alt': 'instagram post',
      'lg': false,
      'md': false,
      'width': 234,
      'ext': 'jpg'
    })

    +picture({
      'img': 'instagram-06',
      'alt': 'instagram post',
      'lg': false,
      'md': false,
      'width': 234,
      'ext': 'jpg'
    })

    +picture({
      'img': 'instagram-07',
      'alt': 'instagram post',
      'lg': false,
      'md': false,
      'width': 234,
      'ext': 'jpg'
    })

    +picture({
      'img': 'instagram-08',
      'alt': 'instagram post',
      'lg': false,
      'md': false,
      'width': 234,
      'ext': 'jpg'
    })

    +picture({
      'img': 'instagram-09',
      'alt': 'instagram post',
      'lg': false,
      'md': false,
      'width': 234,
      'ext': 'jpg'
    })

    +picture({
      'img': 'instagram-10',
      'alt': 'instagram post',
      'lg': false,
      'md': false,
      'width': 234,
      'ext': 'jpg'
    })

  +newsletter()
    +title({
      bold: 'Subscribe to our Newsletter',
      light: 'Tourism is travel for pleasure or business'
    })

    +form('newsletter')
      +field-text({
        mods: 'email',
        attrs: {
          placeholder: 'Type Your Email',
          name: 'sub_email',
          type: 'email'
        }
      })
      input.newsletter__submit(type='submit', value='Subscribe')

block footer
  +page-footer()
    +logo('/')
      img.logo__img(alt='Logo', width='134', src='img/logo_bottom.svg')

    +footer-nav()
      li: a.footer-nav__link.footer-nav__link--active Home
      li: a.footer-nav__link About
      li: a.footer-nav__link Tours
      li: a.footer-nav__link Blog
      li: a.footer-nav__link Contact

    a.page-footer__contact(href='tel:011 234 567 999') 011 234 567 999
