//- Все примеси в этом файле должны начинаться c имени блока (blog)

mixin blog(data, mods)

  //- Принимает:
  //-   data    {object} - данные
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +blog('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' blog--' + modsList[i].trim();
      }
    }

  section.blog(class=allMods)&attributes(attributes)
    .blog__inner
      block
    ///.blog__inner
  ///.blog
